---
layout: base
---
{%- assign _page_lang = page.lang | default: site.lang | default: 'en' -%}
{%- assign t = site.data.i18n[_page_lang] | default: site.data.i18n.en -%}
{%- unless _page_lang == site.lang or _page_lang == '' or site.lang == nil -%}
  {%- assign _lang_prefix = '/' | append: _page_lang -%}
{%- else -%}
  {%- assign _lang_prefix = '' -%}
{%- endunless -%}

{%- assign is_post_layout = false -%}
{%- if page.layout == 'post' or page.collection == 'posts' -%}
  {%- assign is_post_layout = true -%}
{%- endif -%}

{%- assign hero_image = page.image | default: site.default_post_image | default: '/assets/images/default-hero.svg' -%}

{%- assign hero_has_author = page.has_author | default: is_post_layout | default: false -%}
{%- assign hero_author_name = false -%}
{%- if hero_has_author -%}
  {%- if page.author and page.author.name and page.author.name != empty -%}
    {%- assign hero_author_name = page.author.name -%}
  {%- elsif page.author and page.author != empty -%}
    {%- assign hero_author_name = page.author -%}
  {%- elsif site.author and site.author.name and site.author.name != empty -%}
    {%- assign hero_author_name = site.author.name -%}
  {%- endif -%}
{%- endif -%}
{%- assign hero_date = page.date -%}
{%- assign hero_show_meta = false -%}
{%- if hero_author_name or hero_date -%}
  {%- assign hero_show_meta = true -%}
{%- endif -%}
{%- assign hero_comment_count = 0 -%}
{%- if is_post_layout and site.comments.enabled and page.comments_visible != false and page.ref -%}
  {%- assign _hero_comment_key = page.ref -%}
  {%- if site.comments.per_language -%}
    {%- assign _hero_comment_key = page.ref | append: '--' | append: _page_lang -%}
  {%- endif -%}
  {%- assign hero_comment_count = site.data.comments[_hero_comment_key] | size -%}
{%- endif -%}
{%- if hero_comment_count > 0 -%}
  {%- assign hero_show_meta = true -%}
{%- endif -%}

{%- include post-hero.html
  title=page.title
  image=hero_image
  show_tags=false
  show_meta=hero_show_meta
  author_name=hero_author_name
  date=hero_date
  comment_count=hero_comment_count
-%}

{%- if page.layout == 'page' -%}
<article class="post-page">
  <div class="post-body container">
    <div class="post-body__inner">
      <div class="post-content">
        {{ content }}
      </div>
    </div>
  </div>
</article>
{%- else -%}
{{ content }}
{%- endif -%}